.vs
HeaderToIgnore.h
*.mp3
removeThisFolder/
myNewFolder/
.idea
WorkinDirectory

HeaderAccidentalyTracked.h
IntroToCPP_GitPracticeForVideo.vcxproj.user
x64/Debug/WorkinDirectory.pdb
x64/Debug/WorkinDirectory.exe
